<h1 class="center-text">Failure Top Scores</h1>
<hr>
<section class="high-score-container">
  <div class="row">
    <div class="column center-text border-top-scores">
      <h3 class="tight-top-bottom orange-back">Pushups</h3>
      <table>
        <tr>
          <th>Count</th>
          <th>User</th>
          <th>When</th>
        </tr>
        <% @pushup_records.each do |x| %>
        <tr>
          <td class="center-text"><strong> <%= x.count %> </strong></td>
          <% #binding.pry %>

          <% if current_user == nil %>
          <td><%= x.user.name %></td>
          <% elsif x.user.id == current_user.id %>
          <td style="color:red;"><%= x.user.name %></td>
          <% else %>
          <td><%= x.user.name %></td>
          <% end %>
          <td><%= x.created_at.getlocal.strftime('%b %d %Y')%></td>
        </tr>
        <% end %>
      </table>
      <th><%= link_to "All Pushup Records", failures_path(:kind => "Pushups") %></th>
    </div>
    <div class="column center-text border-top-scores">
      <h3 class="tight-top-bottom orange-back">Situps</h3>
      <table>
        <tr>
          <th>Count</th>
          <th>User</th>
          <th>When</th>
        </tr>
        <% @situp_records.each do |x| %>
        <tr>
          <td class="center-text"><strong> <%= x.count %> </strong></td>
          <% if current_user == nil %>
          <td><%= x.user.name %></td>
          <% elsif x.user.id == current_user.id %>
          <td style="color:red;"><%= x.user.name %></td>
          <% else %>
          <td><%= x.user.name %></td>
          <% end %>
          <td><%= x.created_at.getlocal.strftime('%b %d %Y')%></td>
        </tr>
        <% end %>
      </table>
      <th><%= link_to "All Situp Records", failures_path(:kind => "Situps") %></th>
    </div>
    <div class="column center-text border-top-scores">
      <h3 class="tight-top-bottom orange-back">Squats</h3>
      <table>
        <tr>
          <th>Count</th>
          <th>User</th>
          <th>When</th>
        </tr>
        <% @squat_records.each do |x| %>
        <tr>
          <td class="center-text"><strong> <%= x.count %> </strong></td>
          <% if current_user == nil %>
          <td><%= x.user.name %></td>
          <% elsif x.user.id == current_user.id %>
          <td style="color:red;"><%= x.user.name %></td>
          <% else %>
          <td><%= x.user.name %></td>
          <% end %>
          <td><%= x.created_at.getlocal.strftime('%b %d %Y')%></td>
        </tr>
        <% end %>
      </table>
      <th><%= link_to "All Squat Records", failures_path(:kind => "Squats") %></th>
      </div>
    <div class="column center-text border-top-scores">
      <h3 class="tight-top-bottom orange-back">Jumping Jack</h3>
      <table>
        <tr>
          <th>Count</th>
          <th>User</th>
          <th>When</th>
        </tr>
        <% @jump_records.each do |x| %>
        <tr>
          <td class="center-text"><strong> <%= x.count %> </strong></td>
          <% if current_user == nil %>
          <td><%= x.user.name %></td>
          <% elsif x.user.id == current_user.id %>
          <td style="color:red;"><%= x.user.name %></td>
          <% else %>
          <td><%= x.user.name %></td>
          <% end %>
          <td><%= x.created_at.getlocal.strftime('%b %d %Y')%></td>
        </tr>
        <% end %>
      </table>
      <th><%= link_to "All Jumping Jack Records", failures_path(:kind => "Jumping Jacks") %></th>
    </div>



    </div>
  </div>
</section>

<br>
