<h1>THIS PAGE SHOULD BE THE TOP 10 RECORDS AND USERNAMES FOR EACH WORKOUT CATEGORY</h1>
<h3>links for each category poplate the failures_path which should show all recent records in this category</h3>
<hr>

<h1 class="center-text">Failure Top Records</h1>
<section class="container">
  <div class="row">
    <div class="column center-text">
      <h3>Pushups <br>Record</h3>
      <h1><%= @pushup_record.count %></h1>
      <h5><%= @pushup_record.created_at.getlocal.strftime('%B %d %Y') %></h5>
      <th><%= link_to "All Pushup Records", failures_path(:kind => "Pushups") %></th>
    </div>
    <div class="column center-text">
      <h3>Situps <br>Record</h3>
      <h1><%= @situp_record.count %></h1>
      <h5><%= @situp_record.created_at.getlocal.strftime('%B %d %Y')%></h5>
      <th><%= link_to "All Situp Records", failures_path(:kind => "Situps") %></th>
    </div>
    <div class="column center-text">
      <h3>Jumping Jack <br>Record</h3>
      <h1><%= @jump_record.count %></h1>
      <h5><%= @jump_record.created_at.getlocal.strftime('%B %d %Y') %></h5>
      <th><%= link_to "All Jumping Jack Records", failures_path(:kind => "Jumping Jacks") %></th>
    </div>
    <div class="column center-text">
      <h3>Squats <br>Record</h3>
      <h1><%= @squat_record.count %> </h1>
      <h5><%= @squat_record.created_at.getlocal.strftime('%B %d %Y') %></h5>
      <th><%= link_to "All Squats Records", failures_path(:kind => "Squats") %></th>
    </div>
  </div>
</section>

<br>
