<!DOCTYPE html>
<html>
<head>
  <title>PushToFail</title>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <!-- Milligram Frontend Framework -->
  <!-- <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
  <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css"> -->
  <!-- Bootstrap 4 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Sarpanch:900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Rajdhani:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
</head>
<body>
  <nav class="navigation" style="background-color: orange;">
    <section class="container">
      <a href="/about"  class="nav-button center-text nav-logo-text">PUSH-TO-FAIL<img src="https://mbtskoudsalg.com/images/fail-png-6.png" class="nav-logo" alt=""></a>
      <ul class="navigation-list float-right">
        <% if current_user %>
        <!-- current_user will return true if a user is logged in -->
        <%= "Logged in as #{current_user.name}" %> | <%= link_to 'Log Out', logout_path, method: :delete %>
        <% else %>
        <!-- not logged in -->
        <%= link_to 'Log In', login_path %> or <%= link_to 'Sign Up', new_user_path %>
        <% end %>
      </ul>

      <br>
      <a href="/top_failures" class="nav-button"><strong>Top Scores</strong></a>
      <a href="/recent_failures" class="nav-button"><strong>Recent Scores</strong></a>
      <% if current_user %>
      <!-- THIS SHOULD LINK TO /users/index.html.erb and shop a top score list for user. -->
      <a href="/your_top_scores" class="nav-button"><strong>Your Dashboard</strong></a>
      <a href="/your_failures" class="nav-button"><strong>Your Records</strong></a>
      <a href="/failures/new" class="nav-button"><strong>New Entry</strong></a>
      <% end %>
    </section>
  </nav>
  <section class="container">

    <% if notice %>
    <div class="notice-chip center-text">
      <%= notice %>
    </div>
    <% end %>

    <% if alert %>
    <div class="alert-chip center-text">
      <%= alert %>
    </div>
    <% end %>
  </section>
  <%= yield %>
</body>
</html>
